body{
background: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);

}
.container-fluid{ 
    
    padding: 60px;
    
}
.row{

    padding: 40px;
    

}
.col-sm {
    margin: 30px;
    padding: 60px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);

}
.circle-icons {
  margin-top: -25px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  padding: 4px;
  background-color: #fff;
  position: relative;

}
#nameindas{
    padding-top: 5px;
    font-size: 22px;
    font-weight: bold
}
.upper{
        height: 100px;

}
.upper img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}    


